@tailwind base;
@tailwind components;
@tailwind utilities;

.no-native-spinner::-webkit-outer-spin-button,
.no-native-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-native-spinner {
  -moz-appearance: textfield;
}
